@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 60% 14%;
    --card: 0 0% 100%;
    --card-foreground: 215 60% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 60% 14%;
    --primary: 38 58% 50%;
    --primary-foreground: 215 60% 14%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215 60% 14%;
    --muted: 247 17% 98%;
    --muted-foreground: 215 16% 47%;
    --accent: 247 17% 98%;
    --accent-foreground: 215 60% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 20% 91%;
    --input: 214 20% 91%;
    --ring: 38 58% 50%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    overflow-x: hidden;
    max-width: 100vw;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
    max-width: 100vw;
  }
}

@layer utilities {
  .animate-accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  .animate-accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
